<h1>Alumno</h1>
<h4>{{ alumno.nombre }}</h4>
<hr>
<div class="row" align="right">
	<a href="#/alumno/nuevo" class="btn btn-info">Crear alumno</a>
</div>
<div class="row">
	<form ng-submit="guardarAlumno()">
		<div ng-hide="creando">
			Código  
			<br>
			<input class="form-control" ng-model="alumno.codigo" readonly="readonly">
	</div>
		Nombre 
		<br>
		<input class="form-control" ng-model="alumno.nombre" required>
		Teléfono 
		<br>
		<input class="form-control" ng-model="alumno.telefono" required>
		Direccón 
		<br>
		<textarea class="form-control" ng-model="alumno.direccion" rows="5" required></textarea>

		<button type="submit" class="btn btn-primary">Guardar cambios</button>
		<br>
		<br>
		<p class="text-success" ng-show="actualizado">Registro actualzado correctamente</p> 
	</form>
</div>
